/* VERSÃO ONLINE */
.area_noticias { width: 980px; height: auto; margin: 0 auto; padding: 15px 0px; }
.voltar { width: 32px; height: 32px; margin-left: 480px; position: absolute; left: 50%; }
.guia-on { width: 970px; margin: 0 auto; padding: 30px 0px; }
.guia-on ul { width: 970px; float: left; margin-bottom: 30px; font-family: 'Arial'; font-size: 16px; }
.guia-on ul li { width: 300px; padding: 15px 10px; list-style-type: none; float: left; text-align: center; margin: 10px 0px; }
.guia-on ul li:hover { background-color: #d6d6d6; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.guia-on ul li a.cat { text-decoration: none; font-weight: bold; font-size: 12.5px; text-transform: uppercase; color: #777777; }
.guia-on ul li a.cat:hover { color: #480001; }